﻿@model MovieLib.Models.Movie
<script>
        $(document).ready(function () {
            $("#createHide").click(function () {
                $("#createHide").parent().parent().find("#createMovie").empty();
            });
        });
</script>
<script>
    function refresh() {
    }
</script>

@using (Ajax.BeginForm("Create", "SPA", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        OnComplete="refresh",
                        OnFailure = "error",
                        UpdateTargetId = "holder",
                    })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Country)
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReleaseDate)
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>

        <p>
            <input type="submit" value="Add Movie" />
        </p>
    </fieldset>
}
<div id="holder"></div>
<input type="submit" value="Hide CreateForm" id="createHide" class="btn btn-warning" />
