﻿@model MovieLib.Models.Movie
<script>
        function error() {
            $("#holder").append("There is no such movie!");
        }
        function refresh() {
            list = $(this).parent().parent().attr('id');
            search = $(this).parent().parent().parent().find('#term').val();
            if (list === 'allMovies') $("#holder").parent().parent().parent().find("#allMovies").load('@Url.Content("/SPA/GetAll")');
            else if (list === 'findMovies') $("#holder").parent().parent().parent().find("#findMovies").load('@Url.Content("/SPA/Find")', {term:search});
         }
        $(document).ready(function () {
            $("#updateMovie").click(function () {
            });
        });
</script>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Movie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>
</fieldset>
@using (Ajax.BeginForm("Delete", "SPA", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnComplete = "refresh",
    OnFailure = "error",
    UpdateTargetId = "holder",
}))
{
    
    <p>
        <input id="deleteMovie" type="submit" value="Delete"/> 
    </p>
}

<div id="holder"></div>